/node_modules
/public/hot
/public/storage
/public/dist/js/
/public/dist/css/
/public/images/vendor/flag-icon-css/flags/*
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.json
composer.lock
package-lock.json
/.idea
/.vscode
